@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,400&family=Teko:wght@400;500;600&display=swap');

/* Generic styling */
body {
    background: url(../images/background-prem.jpg)no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-family: "arimo", "san-serif";
    color: black;
}

h1,
h2 {
    font-family: "teko", "san-serif";
    text-decoration: solid;
    letter-spacing: 2px;
    color: #04A777;

}


main {
    flex: 1 0 auto;
    margin-top: 47px;
    flex-grow: 1;

}

/* Quiz styles */

.quiz {
    padding: 5px;
    background-color: navajowhite;
    text-align: center;
}


#intro-buttons {
    padding: 20px;
    border-radius: 10%;
}

#start-btn {
    width: fit-content;
    margin-bottom: 10px;
    border: 4px solid gray;
}

#instructions-btn {
    width: fit-content;
    margin-bottom: 10px;
    border: 4px solid gray;
}


.quiz-instructions {
    background-color: #FFDEAD;
    padding: 10px;
    margin: 10px;
    margin-top: -3rem;
}

#game-area {
    background-color: #FFDEAD;

}

#questions {
    text-align: center;
}

#answer-buttons button {
    padding-bottom: 10px;
    margin: 10px 5px 10px 5px;
}

#next-button button {
    position: relative;
    left: 42%;
    margin-bottom: 20px;
}

.incorrect {
    background-color: red;
}

.correct {
    background-color: #04A777;
}

.show {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}


/* Footer styles */

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;

}

footer a {
    text-decoration: none;

}

@media screen and (min-width: 600px) {

    #game-area {
        width: 680px;
        margin-left: 10px;
    }

    #next-button button {
        left: 46%;
    }
}

@media screen and (min-width: 768px) {
    .quiz {

        margin: 20px;

    }

    #quiz-intro p {
        padding: 10px;
        text-align: center;
    }

    .quiz-intro p {
        padding: 10px;
    }

    #intro-buttons {
        display: flex;
        flex-direction: column;


    }

    #start-btn {

        align-self: center;
        margin-bottom: 20px;
        font-size: 100%;
        padding: 10px;


    }

    #instructions-btn {

        align-self: center;
        margin-bottom: 20px;
        font-size: 100%;
        padding: 10px;
    }


    .instructions-text {
        margin-right: 20px;
    }

    #game-area {
        position: relative;
        left: 5%;
        width: 90vw;

    }

    #questions {
        text-align: center;
        font-size: 20px;
    }


    #answer-buttons button {
        margin: 20px 5px 10px 5px;
        font-size: 100%;
        font-size: 20px;
        padding: 20px;
    }

    #next-button button {
        font-size: 130%;
        margin-left: 0px;
        margin-bottom: 20px;
        font-size: 20px;

    }

}

@media screen and (min-width: 1200px) {

    h1 {
        font-size: 30px;
    }


    .quiz {
        font-size: 20px;
    }

    #quiz-intro p {
        font-size: 25px;
    }

    .game-area {
        height: 55vh;

    }

    #next-button button {
        margin-left: 20px;
    }

}