@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,400&family=Teko:wght@400;500;600&display=swap');

/* Generic styling */
body {
    background: url(../images/background-prem.jpg)no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-family: "arimo", "san-serif";
    color: black;
}

h1,
h2 {
    font-family: "teko", "san-serif";
    text-decoration: solid;
    letter-spacing: 2px;
    color: #04A777;

}


main {
    flex: 1 0 auto;
    margin-top: 47px;
    flex-grow: 1;
    
}

/* Quiz styles */

.quiz {
    padding: 5px;
    background-color: navajowhite;
    text-align: center;
}


#intro-buttons {
    padding: 20px;
    border-radius: 10%;
}

#start-btn {
    width: 90%;
    margin-bottom: 10px;
    border: 4px solid gray;
}

#instructions-btn {
    width: 90%;
    margin-bottom: 10px;
    border: 4px solid gray;
}


.quiz-instructions {
    background-color: #FFDEAD;
    padding: 10px;
    margin: 10px;
}


.show {
    display: block;
}

.hide {
    display: none;
}


/* Footer styles */

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    
}

footer a {
    text-decoration: none;

}
